* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #DDDDDD;
}

/* ============================= Header =========================== */
header {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
}

/* ============================= Main ============================= */
main {
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55%;
}

form input[type=text] {
    width: 50vw;
    height: 8vh;
    padding: 20px;
    outline: none;
    border: 2px solid #20bf6b;
    border-radius: 10px;

}

section {
    border: 1px solid black;

}

/* ============================= Footer =========================== */
footer {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 15%;
}