@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #DDDDDD;
    background-attachment: fixed;
    background-size: cover;
}

/* ============================= Header =========================== */
header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between;
    width: 100%;
    height: 30%;
}

header p {
    font-size: 24px;
    color: #3387ED;
    font-weight: bold;
    margin-bottom: 20px;
}

form input[type=text] {
    width: 59vw;
    height: 8vh;
    padding: 25px;
    outline: none;
    border: 2px solid #20bf6b;
    border-radius: 10px;
}

form input[type=submit] {
    background: #3387ED;
    font-size: 14px;
    width: 12.5vw;
    height: 50px;
    border: none;
    border-radius: 10px;
    margin: 0px;
}

/* ============================= Main ============================= */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
}

section {
    width: 100%;
    height: 100%;
}

#section-list {
    width: 80vw;
    height: 75%;
    margin-top: 0px;
    margin-bottom: 15px;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
    list-style: none;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

#section-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 15%;
    width: 80vw;
    margin-bottom: 0px;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 69vw;
    height: 59px;
    padding: 15px;
    margin: 5px;
    border: 2px solid #20bf6b;
    border-radius: 10px;
}

img {
    width: auto;
    height: 30px;
}

input {
    margin: 6px;
}

#getInput {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

}

#ul-1 {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 100%;
}

i {
    margin: 5px;
}

#ul-2 {
    display: flex;
    flex-direction: row;
    width: 60px;
    height: 30px;
}

.complete {
    text-decoration-line: line-through;
}

#edit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#edit span {
    display: 'flex';
    flex-direction: row;
    justify-content: space-between;
    width: 10%;
}

#confirmEdit {
    display: flex;
    flex-direction: row;

}

.inputEdit {
    display: flex;
    width: 80%;
    height: 100%;
    outline: none;
    border: none;
    padding: 12px 20px 12px 20px;
    margin: 0;
    background-color: #DDDDDD;
    font: 16px;
}

/* ============================= Footer =========================== */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}

a {
    text-decoration: none;
}